<h2>Expense Grid</h2>

<div>
  <table class="grid">
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (expense of expenses; track expense){
      <tr>
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.category }}</td>
        <td>
          <button type="button" class="delete" (click)="delete(expense)">
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>{{ total }}</td>
      </tr>
    </tfoot>
  </table>
</div>
